#include <windows.h>
#include "..\src\version.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 ICON "webp.ico"

1 /*1+PROCESSOR_ARCHITECTURE_INTEL*/ MSIFILE "..\bin\WebpWICCodec_x86.msi"
10 /*1+PROCESSOR_ARCHITECTURE_AMD64*/ MSIFILE "..\bin\WebpWICCodec_x64.msi"

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
  // The wrapper script failed to extract/run the MSI.
  129 "Error while preparing setup:\n\n%1";
}

STRINGTABLE
LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
{
  129 "B³¹d podczas przygotowywania instalacji:\n\n%1";
}


LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

1 VERSIONINFO
FILEVERSION PRODUCT_VERSION_MAJOR,PRODUCT_VERSION_MINOR,PRODUCT_VERSION_BUILD,0
PRODUCTVERSION PRODUCT_VERSION_MAJOR,PRODUCT_VERSION_MINOR,PRODUCT_VERSION_BUILD,0
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	(VER_PRIVATE|VER_DEBUG)
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      PRODUCT_COMPANY
      VALUE "FileDescription",  "Setup program for " PRODUCT_NAME
      VALUE "FileVersion",      PRODUCT_VERSION_MAJOR_STR "." PRODUCT_VERSION_MINOR_STR "." PRODUCT_VERSION_BUILD_STR ".0"
      VALUE "InternalName",     "WebpWICCodec.dll"
      VALUE "LegalCopyright",   "Copyright (c) 2010, Google Inc. All rights reserved."
      VALUE "OriginalFilename", "WebpWICCodecSetup.exe"
      VALUE "ProductName",      PRODUCT_NAME
      VALUE "ProductVersion",   PRODUCT_VERSION_MAJOR_STR "." PRODUCT_VERSION_MINOR_STR "." PRODUCT_VERSION_BUILD_STR ".0"
#if VER_PRIVATE
      VALUE "PrivateBuild",     "(private build)"
#endif
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
